
<!-- Nous sommes vendredi matin, nous allons nous concentrer sur le user case.
Nous reprendrons dans un second temps la mise en page des reviews
 -->

<% producer = current_user.producer %>
<div id="reviews" class="products-list">
  <% if producer.producer_reviews.present? %>

    <% producer.producer_reviews.each do |review| %>
      <div id="<%= review.id %>" class="product">
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><%= render "shared/producer_review", elem:review %></li>
          <li><%= link_to icon('pencil'), edit_producer_review_path(review), remote: true %></li>
          <li><%= link_to icon('trash'), producer_review_path(review), method: :delete, remote: true %></li>
        </ul>
      </div>
    <% end %>

  <% else %>
    <p>Vous n'avez pas encore de reviews</p>
  <% end %>
</div>

