<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div id="user-infos">
      <div class="cesta-form">
        <div class="cesta-form-header">
          <h3>Vos informations</h3>
        </div>
        <div class="cesta-body-headed">
          <p>First name: <%= current_user.first_name %></p>
          <p>Last name: <%= current_user.last_name %></p>
          <p>Email: <%= current_user.email %></p>
          <p>Password: *********</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div id="user-reviews">
      <div class="cesta-form">
        <div class="cesta-form-header">
          <h3>Vos avis</h3>
        </div>
        <div class="cesta-body-headed">

        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div id="producer-ad">

    </div>
  </div>
</div>
