<div>basketline</div>


<% @basket.each do |elem| %>
<ul>
  <li>
    <%= elem.product.name %> <br>
    <%=elem.product.description %> <br>
    <%= elem.product.price %> <br>



  </li>
</ul>
<% end %>
