.product-order {
  margin-bottom: 10px;

  .product-image {
    display: block;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
  }

  h4.order {
    margin: 0px 0px;
    padding: 0px;
  }

  .order-qte {
    display:flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }

  .form-group {
    margin: 0px;
  }

  .list-inline {
    margin: 0px 10px 0px 0px;
    li > a {
      text-decoration: none;
    }
  }
}

.order-container {
  .order-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
     ul {
      margin-bottom: 0px;
     }

    .order {
    margin: 10px;
    }

    li {
      margin: 10px;
    }
    .total {
      margin: 10px 0px;
    }
    .euro {
      margin: 10px 0px;
    }
  }
}
