<footer>
  <h4>Cesta © 2017</h4>
  <div>
    <%= link_to root_path do %>
      <%= icon('home') %>
    <% end %>
     <%= link_to root_path do %>
      <%= icon('envelope') %>
    <% end %>
  </div>
</footer>
