
<div class="jumbotron">
  <div class="banner">
    <div class="banner-content">
      <h1>Mangez local</h1>
      <p>Les meilleurs producteurs. Leurs meilleurs produits. </p>
      <%= link_to 'Autour de moi', producers_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>



