footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $gray-dark;
  height: 100px;

  .fa-home{
    color: white;
    font-size: 30px;
    margin-right: 20px;
  }

  .fa-envelope{
    color: white;
    font-size: 27px;
    margin-right: 20px;
  }

  h4 {
    color: white;
    margin-left: 20px;
  }
}
