.cesta-navbar {
  height: $navbar-height;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;
  ul, li.li-unmarged {
    margin: 0;
  }
  i {
    font-size: 30px;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0 15px;
}

.cesta-brand {
  font-family: 'Montserrat', Open sans;
  font-size: 24px;
  font-weight: bold;
  a {
    color:$gray-dark;
    &:hover {
      color:$gray-dark;
      text-decoration: none;
    }
  }
}

.nabvar-icons {
  i {
    margin: 0 10px;
  }
  a:hover i{
    color: $gray-lighter;
  }
}

.navbar-links {
  display: flex;
  align-items: center;
  a, i {
    color: $gray-dark;
    padding: 0 20px;
    &:hover, &:focus {
      color: $gray-light;
      text-decoration: none;
    }
  }
  a {
    border-right: 1px solid $gray-light;
  }
  a:last-child {
    border-right: none;
    padding-right: 0;
  }
}


