<div class="container">
  <div class="row">
    <div class= "col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div class="cesta-form">
        <div class="cesta-form-header">
          <h3>Become a producer</h3>
        </div>
         <%= render 'form_producer' %>
      </div>
    </div>
  </div>
</div>
