.btn-primary i {
  color: white;
}

.btn-secondary {
  background-color: $ch-red-medium-pale;
  color: white;
  &:hover {
    background-color: lighten($ch-red-medium-pale, 5%);
    border: 1px solid $ch-red-medium-pale;
    color: white;
  }
  i {
    color: white;
  }
}
