.empty-state-area {
  background-color: white;
  border-radius: $border-radius-base;
  border: 1px solid $gray-lighter;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.empty-state-img {
  height: 30vh;
}

.no-border {
  border: none;
}
