.producer-card {
  background-color: white;
  border-radius: 2px;
  a {
    text-decoration: none;
  }
}

.producer-card-img {
  height: 150px;
  background-size: 100%;
  border-radius: 2px 2px 0 0;
  position: relative;
  transition: all 0.3s ease;
}

.producer-card:hover .producer-card-img {
  background-size: 102%;
}

.producer-awards {
  position: absolute;
  top: 5px;
  right: 5px;
  li {
    padding: 0;
  }
}

.producer-card-body {
  display: flex;
  align-items: center;
  padding: 5px;
  h4, p {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  p {
    font-weight: lighter;
  }
}

.producer-card-infos {
  flex: 1;
}

.producer-card-location {
  display: flex;
  align-items: center;
  color: $gray-dark;
  font-size: 14px;
  .fa-car {
    margin-right: 4px;
  }
}
