// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/*";

// Your CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "animations/*";
@import "pages/producer-show";

@import "selectize";
@import "selectize.default";

// Font-size
h1 {
  font-size: 2 * $base-size;
}
h2 {
  font-size: 1.8 * $base-size;
}
h3 {
  font-size: 1.5 * $base-size;
}
h4 {
  font-size: 1.2 * $base-size;
}

// Font-color
h1, h2, h3, h4, p, i {
 color: $gray-dark;
}

body {
  background-color: #FBFBFB;

  &.filter-opened {
    overflow: hidden;
  }
}

.page-content {
  margin-top: 20px;
}

a.discret-link {
  color: $gray-light;
  i {
    color: $gray-light;
    margin-left: 5px;
  }
  &:hover {
    color: $gray;
    text-decoration: none;
  }
  &:hover i {
    color: $gray;
    text-decoration: none;
  }
}

.light-text {
  color: $gray-light;
}

.text-stripped {
  display: flex;
  margin: 10px 0;
  justify-content: left;
  align-items: center;
  position: relative;
  hr {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0;
  }
  p {
    display: inline-block;
    margin: 0;
    background-color: white;
    z-index: 1;
    padding: 10px;
    padding-left: 0px;
    color: $gray-light;
    text-align: center;
  }
}

.push-footer-to-bottom {
  min-height: 80vh;
}
